.miniconda/
Miniconda3-latest-Linux-installer.sh
__pycache__/

node_modules/
venv/
input/

.env
apps/api/node_modules
apps/api/dist
apps/web/dist
apps/api/.env
apps/web/node_modules
apps/web/.env
output/